@import 'price-card.scss';

html {
  font-family: 'Montserrat', sans-serif;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #141b1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-button {
  margin-top: 39px;
  width: 154px;
  height: 40px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
}

.order-button_green {
  background-color: #5bb189;
}
.order-button_blue {
  background-color: #3a6ba5;
}
.order-button_orange {
  background-color: #ec632a;
}

.popular-card {
  position: relative;
}

.price-card + .price-card {
  margin-left: 18px;
}

.rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  transform: rotate(45deg);
  position: absolute;
  top: 25px;
  right: -35px;
  height: 15px;
  width: 147px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background-color: #dc3f45;
}
